@charset "UTF-8";
/* easeOutExpo */
/* easeInOutExpo */
/* ––––––––––––––––––––––––––––––––––––––––––––
RESETS
––––––––––––––––––––––––––––––––––––––––––– */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
HELPERS
––––––––––––––––––––––––––––––––––––––––––– */
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}

.clear {
  clear: both;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content-center {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* ––––––––––––––––––––––––––––––––––––––––––––
GLOBAL STYLES
––––––––––––––––––––––––––––––––––––––––––– */
html, body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  background: #ccc;
  color: #333;
}

#main {
  width: 100%;
  padding-top: 150px;
  margin: 0 auto;
  height: 100%;
  background: white;
}

.container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

section {
  padding: 0;
}

.col-1-2 {
  width: 50%;
  float: left;
}

.col-1-3 {
  width: 33.33333%;
  float: left;
}

.col-1-4 {
  width: 25%;
  float: left;
}

.col-20 {
  width: 20%;
  padding-right: 10px;
  float: left;
}
.col-20:last-child {
  padding-right: 0;
}

.col-25 {
  width: 25%;
  padding-right: 10px;
  float: left;
}
.col-25:last-child {
  padding-right: 0;
}

.col-30 {
  width: 30%;
  padding-right: 10px;
  float: left;
}
.col-30:last-child {
  padding-right: 0;
}

.col-40 {
  width: 40%;
  padding-right: 10px;
  float: left;
}
.col-40:last-child {
  padding-right: 0;
}

.col-50 {
  width: 50%;
  padding-right: 10px;
  float: left;
}
.col-50:last-child {
  padding-right: 0;
}

.col-75 {
  width: 75%;
  padding-right: 10px;
  float: left;
}
.col-75:last-child {
  padding-right: 0;
}

.col-80 {
  width: 80%;
  float: left;
}

.btn_primary {
  position: relative;
  display: inline-block;
  padding-right: 45px;
  height: 60px;
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  color: white;
  border-radius: 5px;
  margin-top: 40px;
  overflow: hidden;
  cursor: pointer;
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: box-shadow 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
.btn_primary span {
  position: absolute;
  z-index: 4;
  top: 0;
  left: -63px;
  width: 100%;
  height: 100%;
  display: block;
  background: #d42531;
  -moz-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}
.btn_primary strong {
  display: block;
  position: relative;
  z-index: 6;
  padding: 0 60px 0 40px;
}
.btn_primary img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
}
.btn_primary:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.4);
}
.btn_primary:hover img {
  -webkit-animation: arrow-next .3s 1;
  -moz-animation: arrow-next .3s 1;
  -o-animation: arrow-next .3s 1;
  animation: arrow-next .3s 1;
}
.btn_primary:focus {
  outline: none;
}

@-webkit-keyframes arrow-next {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  55% {
    -moz-transform: translateX(60px);
    -o-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  56% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  60% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-moz-keyframes arrow-next {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  55% {
    -moz-transform: translateX(60px);
    -o-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  56% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  60% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-o-keyframes arrow-next {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  55% {
    -moz-transform: translateX(60px);
    -o-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  56% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  60% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes arrow-next {
  0% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  55% {
    -moz-transform: translateX(60px);
    -o-transform: translateX(60px);
    -ms-transform: translateX(60px);
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  56% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  60% {
    -moz-transform: translateX(-60px);
    -o-transform: translateX(-60px);
    -ms-transform: translateX(-60px);
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }
  100% {
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
header {
  position: fixed;
  z-index: 9999;
  top: 0;
  width: 100%;
  height: 160px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
header .container {
  max-width: 100%;
  height: 160px;
}
header .header-wrap {
  width: 100%;
  height: 160px;
  background: #222;
}
header .btn_apply_header {
  position: absolute;
  overflow: hidden;
  z-index: 4;
  top: 0;
  right: 0;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  line-height: 50px;
  text-indent: 20px;
  font-weight: 900;
  color: white;
  text-align: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header .btn_apply_header span {
  position: absolute;
  right: -20px;
  display: block;
  width: 100%;
  height: 50px;
  background: #d42531;
  -moz-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
}
header .btn_apply_header strong {
  position: relative;
  margin-left: 21px;
  z-index: 4;
  -moz-transform: skew(0deg, 0deg);
  -o-transform: skew(0deg, 0deg);
  -ms-transform: skew(0deg, 0deg);
  -webkit-transform: skew(0deg, 0deg);
  transform: skew(0deg, 0deg);
}
header .phone_header {
  position: absolute;
  z-index: 4;
  top: 0;
  right: 220px;
  font-size: 12px;
  line-height: 50px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  height: 50px;
  font-weight: 700;
}
header .phone_header strong {
  font-size: 16px;
  font-weight: 900;
  color: #999;
}
header .logo-wrap {
  overflow: hidden;
  width: 51%;
  float: left;
  height: 160px;
  overflow-x: hidden;
}
header .logo {
  position: relative;
  z-index: 2;
  display: inline-block;
  width: 100%;
  height: 160px;
  text-align: center;
  background: #d42531;
  transform-origin: top left;
  -moz-transform: skew(-20deg, 0deg);
  -o-transform: skew(-20deg, 0deg);
  -ms-transform: skew(-20deg, 0deg);
  -webkit-transform: skew(-20deg, 0deg);
  transform: skew(-20deg, 0deg);
  overflow: hidden;
}
header .logo img {
  position: absolute;
  top: 0;
  right: 50px;
  -moz-transform: skew(20deg, 0deg);
  -o-transform: skew(20deg, 0deg);
  -ms-transform: skew(20deg, 0deg);
  -webkit-transform: skew(20deg, 0deg);
  transform: skew(20deg, 0deg);
}
header nav {
  float: right;
  width: 49%;
}
header nav li {
  position: relative;
  display: inline;
  margin: 0 15px;
  font-size: 14px;
  line-height: 160px;
  font-weight: 900;
  text-transform: uppercase;
}
header nav li a {
  color: #999;
  text-decoration: none;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header nav li i {
  font-size: 12px !important;
  vertical-align: 2px;
  margin-left: 4px;
  color: #999;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header nav li.phone {
  color: #999;
  font-weight: 900;
}
header nav li.phone i {
  font-size: 14px !important;
  vertical-align: 0px;
  margin-right: 4px;
  color: #999;
}
header nav li.phone:hover i {
  color: #999;
}
header nav li:hover a, header nav li:hover i {
  color: white;
}
header nav li:hover .sub-menu li a {
  color: #999;
}
header nav li .sub-menu {
  display: none;
  position: absolute;
  left: -29px;
  top: 0;
  width: 220px;
}
header nav li .sub-menu ul {
  margin-top: 30px;
  padding: 20px 15px;
  background: #d42531;
  border-radius: 5px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
}
header nav li .sub-menu li {
  display: block;
  font-size: 16px;
  text-transform: none;
  line-height: 18px;
  font-weight: 700;
  padding: 10px 0;
  letter-spacing: 0;
}
header nav li .sub-menu li a {
  color: white !important;
}
header .contact-header {
  position: absolute;
  top: 68px;
  right: 50px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
}
header .contact-header li {
  color: #999;
  display: inline;
}
header .contact-header li.phone-header {
  margin-right: 15px;
  letter-spacing: 0;
}
header .contact-header li i {
  font-size: 16px;
  vertical-align: 0px;
  margin-right: 4px;
}
header .contact-header li a {
  color: #999;
  text-decoration: none;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
header .contact-header li a:hover {
  color: white;
}

footer {
  padding: 150px 0 0 0;
  background: #222;
  text-align: center;
}
footer .nav-footer {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
footer .nav-footer li {
  display: inline;
  margin: 0 15px;
}
footer .nav-footer li i {
  font-size: 22px;
  vertical-align: -2px;
}
footer .nav-footer a {
  color: #999;
  text-decoration: none;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
footer .nav-footer a:hover {
  color: white;
}
footer .copyright {
  width: 100%;
  margin-top: 150px;
  padding: 50px 0;
  border-top: 1px solid rgba(212, 37, 49, 0.2);
  color: #555;
  font-size: 14px;
}
footer .copyright a {
  color: #555;
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}
footer .copyright a:hover {
  color: #999;
}

/* ––––––––––––––––––––––––––––––––––––––––––––
TYPOGRAPHY
––––––––––––––––––––––––––––––––––––––––––– */
h2, h3 {
  font-family: "Michroma";
  -webkit-font-smoothing: antialiased;
}

.pad-bottom {
  padding-bottom: 120px;
}

.page-content {
  background: white;
}
.page-content .page-heading {
  margin-top: 80px;
}
.page-content p {
  margin-top: 40px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0;
}
.page-content ul {
  margin-top: 40px;
}
.page-content ul li {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 10px;
  margin-left: 20px;
}
.page-content ul li:last-child {
  margin-bottom: 0;
}
.page-content .col-1-2, .page-content .col-1-1 {
  padding: 0 4.5%;
}
.page-content .col-1-2 img {
  width: 100%;
}
.page-content .inset-img {
  margin-top: 50px;
}
.page-content .inset-img img {
  width: 100%;
}

.call-us {
  display: block;
  margin-top: 40px;
  color: #222;
  letter-spacing: 0;
}
.call-us strong {
  font-size: 25px;
  color: #d42531;
  font-weight: 700;
}

.page-heading {
  font-size: 25px;
  line-height: 30px;
  color: #d42531;
  max-width: 400px;
}

.section-heading {
  font-size: 25px;
  line-height: 30px;
  color: #d42531;
  max-width: 400px;
}

.section-break {
  width: 100%;
  height: 1px;
  background: #ddd;
  margin: 80px 0;
}

.red-band {
  position: absolute;
  z-index: 4;
  height: 40px;
  width: 100%;
  bottom: 0;
  background: rgba(212, 37, 49, 0.2);
}

.slider {
  position: relative;
  width: 100%;
  height: 90%;
  min-height: 600px;
}
.slider .slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}
.slider .slick-list, .slider .slick-track {
  height: 100%;
}
.slider .slick-slide {
  position: relative;
}
.slider .slick-slide:focus {
  outline: none;
}
.slider .prev-arrow {
  position: absolute;
  text-align: center;
  z-index: 88;
  height: 60px;
  width: 60px;
  left: 60px;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}
.slider .prev-arrow .arrow-bg {
  display: block;
  position: relative;
  z-index: 0;
  height: 60px;
  width: 60px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.slider .prev-arrow img {
  position: absolute;
  top: 13px;
  left: 19px;
  z-index: 2;
}
.slider .prev-arrow:focus {
  outline: none;
}
.slider .prev-arrow:hover .arrow-bg {
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}
.slider .next-arrow {
  position: absolute;
  text-align: center;
  z-index: 88;
  height: 60px;
  width: 60px;
  right: 60px;
  top: 50%;
  margin-top: -30px;
  cursor: pointer;
}
.slider .next-arrow .arrow-bg {
  display: block;
  position: relative;
  z-index: 0;
  height: 60px;
  width: 60px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.slider .next-arrow img {
  position: absolute;
  top: 13px;
  right: 19px;
  z-index: 2;
}
.slider .next-arrow:focus {
  outline: none;
}
.slider .next-arrow:hover .arrow-bg {
  -moz-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}
.slider .slick-dots {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}
.slider .slick-dots li {
  display: inline;
  margin: 0 8px;
}
.slider .slick-dots li a {
  display: inline-block;
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.slider .slick-dots li.slick-active a {
  background: white;
}

.hero {
  width: 100%;
  height: 100%;
}
.hero .col-1-2 {
  height: 100%;
}
.hero .col-1-2.l-right {
  float: right;
}
.hero .hero-copy {
  -webkit-backface-visibility: hidden;
}
.hero .hero-copy h2 {
  font-size: 50px;
  line-height: 60px;
  color: white;
}
.hero .hero-copy h2 span {
  display: block;
  -moz-transform: translateY(50px);
  -o-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero .hero-copy h3 {
  font-size: 25px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
.hero .hero-copy p {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.85);
}
.hero .hero-copy p span {
  display: block;
  -moz-transform: translateY(25px);
  -o-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.hero .hero-copy.active h2 span, .hero .hero-copy.active p span {
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  filter: alpha(opacity=100);
}

.company-page-hero {
  width: 100%;
  padding: 90px 0 0 0;
}
.company-page-hero .hero-copy h2 {
  font-size: 50px;
  line-height: 60px;
  color: #222;
  margin-left: 4.5%;
}

.page-hero {
  position: relative;
  width: 100%;
  height: 65%;
  min-height: 500px;
}
.page-hero .hero-copy h2 {
  font-size: 50px;
  line-height: 60px;
  color: white;
}
.page-hero .hero-copy p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  padding-top: 15px;
  color: rgba(255, 255, 255, 0.9);
}
.page-hero .hero-copy p span {
  display: block;
  -moz-transform: translateY(25px);
  -o-transform: translateY(25px);
  -ms-transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transform: translateY(25px);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s 0.15s cubic-bezier(0.19, 1, 0.22, 1);
}
.page-hero .hero-copy a {
  margin-top: 40px;
}
.page-hero.hiring-hero {
  height: 350px;
  min-height: 350px;
}
.page-hero.hiring-hero .hero-copy h2, .page-hero.hiring-hero .hero-copy p {
  color: #222;
}
.page-hero.contact-hero {
  height: 350px;
  min-height: 350px;
  background: #f6f6f6;
}
.page-hero.contact-hero .hero-copy h2 {
  color: #d42531;
}
.page-hero.contact-hero .hero-copy p {
  color: #222;
}
.page-hero.apply-hero {
  height: 350px;
  min-height: 350px;
}
.page-hero.apply-hero .hero-copy h2, .page-hero.apply-hero .hero-copy p {
  color: #222;
}

.t-white {
  color: white;
}

.contact-phone {
  text-align: center;
  padding: 80px 0;
  border-bottom: 1px solid #ddd;
}
.contact-phone li {
  font-size: 25px;
  display: inline;
  margin: 0 5px;
  font-weight: 700;
}
.contact-phone li strong {
  color: #d42531;
  font-weight: 400;
}
.contact-phone li.divider {
  font-weight: 300;
  color: #999;
}

.contact-info {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  padding: 90px 30px;
  background: white;
  border-top: 1px solid #ddd;
}
.contact-info strong {
  font-weight: 700;
}
.contact-info a {
  color: #d42531;
  font-style: italic;
}

.hiring-map {
  background: white;
  padding: 0 30px 90px 30px;
}
.hiring-map .container {
  max-width: 1280px;
}
.hiring-map .hiring-map_key {
  padding: 60px 0;
  text-align: center;
}
.hiring-map .hiring-map_key li {
  display: inline;
  margin: 0 30px;
  font-size: 18px;
}
.hiring-map .hiring-map_key li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  vertical-align: -3px;
  margin-right: 5px;
}
.hiring-map .hiring-map_key li.week-2 span {
  background: #640d0e;
}
.hiring-map .hiring-map_key li.week-3 span {
  background: #d42531;
}
.hiring-map .hiring-map_key li.no-hire span {
  background: #c4c4c4;
}
.hiring-map img {
  width: 100%;
}
.hiring-map a {
  margin-top: 90px;
}

.hiring-hero {
  position: relative;
  padding: 200px 0;
  text-align: center;
  background: #222 url(../img/pay.jpg) no-repeat center;
  background-size: cover;
}
.hiring-hero h2 {
  font-size: 40px;
  line-height: 50px;
}
.hiring-hero h3 {
  font-size: 20px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.6);
  padding-bottom: 5px;
}

.customer-hero {
  position: relative;
  padding: 200px 0;
  margin-top: 90px;
  text-align: center;
  background: #222 url(../img/customer-call.jpg) no-repeat center;
  background-size: cover;
}
.customer-hero h2 {
  font-size: 40px;
  line-height: 50px;
  color: #222;
}
.customer-hero h2 strong {
  color: #d42531;
}

.apply-now-section {
  background: white;
  text-align: center;
  padding: 60px 30px 120px 30px;
}
.apply-now-section .or-break {
  display: inline-block;
  font-size: 18px;
  padding: 30px 0;
}

.quick-app {
  padding-top: 10px;
  background: white;
}
.quick-app .col-1-2 {
  padding: 60px 0;
}
.quick-app .col-1-2:first-child {
  padding-right: 5%;
}
.quick-app .quick-app-section_copy > div {
  margin: 0 auto;
  text-align: center;
}
.quick-app .quick-app-section_copy h3 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 60px;
  color: #d42531;
}
.quick-app .quick-app-section_copy ul {
  margin-top: 30px;
}
.quick-app .quick-app-section_copy ul li {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0;
  list-style: none;
  color: #777;
}
.quick-app .quick-app-section_copy ul li span {
  display: none;
  width: 30px;
  height: 1px;
  background: #222;
  margin-right: 10px;
}
.quick-app .quick-app-section_copy ul li strong {
  font-weight: 700;
  color: #222;
}
.quick-app .quick-app-section_copy a {
  margin-top: 65px;
}
.quick-app form {
  padding: 60px 90px;
  text-align: center;
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}
.quick-app form .form-header h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #d42531;
}
.quick-app form .form-header p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.quick-app form .field-group {
  text-align: left;
  margin: 10px 0;
}
.quick-app form .field-group .field input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.quick-app form .field-group .field input:focus {
  outline: none;
}
.quick-app form .field-group .field label {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  padding: 10px 15px;
  color: #777;
}
.quick-app form .field-group .field button {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 25px auto 0 auto;
  border: 0;
  font-family: "Lato", sans-serif;
  line-height: 58px;
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}
.quick-app form .field-group .field button span {
  background: #222;
}
.quick-app form .field-group .field textarea {
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  padding: 15px 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.quick-app form .field-group .field textarea:focus {
  outline: none;
}
.quick-app form .field-group.checkbox {
  margin-top: 30px;
  font-size: 14px;
  color: #777;
  text-align: center;
}
.quick-app form .field-group.checkbox input {
  vertical-align: 1.5px;
}
.quick-app form .experience-fields {
  padding-top: 5px;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}
.quick-app form .experience-fields label {
  display: block;
  font-size: 14px;
  padding: 10px 0 10px 15px;
  color: #777;
}
.quick-app form .select-style {
  height: 50px;
  padding: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  overflow: hidden;
  background: white url(../img/chevron-down.png) no-repeat right 15px center;
}
.quick-app form .select-style select {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  margin-top: -1px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.quick-app form .select-style select:focus {
  outline: none;
}
.quick-app form a {
  display: inline-block;
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 10px;
  text-decoration: none;
}
.quick-app form a:hover {
  text-decoration: underline;
}
.quick-app form ::-webkit-input-placeholder {
  color: #777;
}
.quick-app form ::-moz-placeholder {
  color: #777;
}
.quick-app form :-ms-input-placeholder {
  color: #777;
}
.quick-app form :-moz-placeholder {
  color: #777;
}

.contact-form {
  padding: 80px 0;
  background: white;
}
.contact-form .col-1-2 {
  padding: 60px 0;
}
.contact-form .col-1-2:first-child {
  padding-right: 5%;
}
.contact-form .quick-app-section_copy > div {
  margin: 0 auto;
  text-align: center;
}
.contact-form .quick-app-section_copy h3 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 60px;
  color: #d42531;
}
.contact-form .quick-app-section_copy ul {
  margin-top: 30px;
}
.contact-form .quick-app-section_copy ul li {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 0;
  list-style: none;
  color: #777;
}
.contact-form .quick-app-section_copy ul li span {
  display: none;
  width: 30px;
  height: 1px;
  background: #222;
  margin-right: 10px;
}
.contact-form .quick-app-section_copy ul li strong {
  font-weight: 700;
  color: #222;
}
.contact-form .quick-app-section_copy a {
  margin-top: 65px;
}
.contact-form form {
  padding: 60px 90px;
  text-align: center;
  background: #f6f6f6;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
}
.contact-form form .form-header h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #d42531;
}
.contact-form form .form-header p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 30px;
}
.contact-form form .field-group {
  text-align: left;
  margin: 10px 0;
}
.contact-form form .field-group .field input {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.contact-form form .field-group .field input:focus {
  outline: none;
}
.contact-form form .field-group .field label {
  height: 50px;
  font-size: 14px;
  line-height: 50px;
  padding: 10px 15px;
  color: #777;
}
.contact-form form .field-group .field button {
  display: block;
  width: 100%;
  max-width: 350px;
  margin: 25px auto 0 auto;
  border: 0;
  font-family: "Lato", sans-serif;
  line-height: 58px;
  -moz-transform: translateZ(1px);
  -o-transform: translateZ(1px);
  -ms-transform: translateZ(1px);
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
}
.contact-form form .field-group .field button span {
  background: #222;
}
.contact-form form .field-group .field textarea {
  max-width: 100%;
  min-width: 100%;
  height: 200px;
  padding: 15px 15px;
  background: white;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  border: 1px solid #ddd;
  font-size: 14px;
  font-family: "Lato", sans-serif;
}
.contact-form form .field-group .field textarea:focus {
  outline: none;
}
.contact-form form .field-group.checkbox {
  margin-top: 30px;
  font-size: 14px;
  color: #777;
  text-align: center;
}
.contact-form form .field-group.checkbox input {
  vertical-align: 1.5px;
}
.contact-form form .experience-fields {
  padding-top: 5px;
  margin-top: 30px;
  border-top: 1px solid #ddd;
}
.contact-form form .experience-fields label {
  display: block;
  font-size: 14px;
  padding: 10px 0 10px 15px;
  color: #777;
}
.contact-form form .select-style {
  height: 50px;
  padding: 0;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-clip: padding-box;
  overflow: hidden;
  background: white url(../img/chevron-down.png) no-repeat right 15px center;
}
.contact-form form .select-style select {
  padding: 0 15px;
  width: 100%;
  height: 50px;
  margin-left: 0px;
  margin-top: -1px;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #777;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.contact-form form .select-style select:focus {
  outline: none;
}
.contact-form form a {
  display: inline-block;
  font-size: 14px;
  color: #7d7d7d;
  margin-top: 10px;
  text-decoration: none;
}
.contact-form form a:hover {
  text-decoration: underline;
}
.contact-form form ::-webkit-input-placeholder {
  color: #777;
}
.contact-form form ::-moz-placeholder {
  color: #777;
}
.contact-form form :-ms-input-placeholder {
  color: #777;
}
.contact-form form :-moz-placeholder {
  color: #777;
}

.page-intro {
  padding: 150px 30px;
  text-align: center;
  background: white;
}
.page-intro h3 {
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 40px;
  color: #d42531;
}
.page-intro h3 strong {
  color: #222;
}
.page-intro p {
  font-size: 18px;
  line-height: 28px;
}
.page-intro ul {
  margin-top: 40px;
  text-align: left;
}
.page-intro ul li {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 15px;
}
.page-intro ul li:last-child {
  padding-bottom: 0;
}

.hidden-header {
  position: relative;
  height: 150px;
  cursor: pointer;
  -webkit-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
.hidden-header h3 {
  font-size: 28px;
  line-height: 150px;
}
.hidden-header i {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 70px;
  -webkit-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
.hidden-header i.active {
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hidden-header:hover, .hidden-header.active {
  color: #d42531;
}

.hidden-fold {
  overflow: hidden;
  padding: 0 0 80px 0;
}

.driver-pay {
  background: white;
  border-bottom: 1px solid #ddd;
}
.driver-pay p {
  font-size: 18px;
  line-height: 28px;
}
.driver-pay p strong {
  font-weight: 700;
}
.driver-pay .pay-chart {
  margin-top: 40px;
}
.driver-pay .pay-chart p {
  font-size: 14px;
  margin-top: 10px;
  color: #777;
}
.driver-pay .pay-chart .col-1-5 {
  font-size: 14px;
  width: 20%;
  float: left;
  text-align: center;
  padding: 15px;
  border-right: 1px solid #ddd;
}
.driver-pay .pay-chart .col-1-5:last-child {
  border-right: 0;
}
.driver-pay .pay-chart .col-1-5:nth-child(odd) {
  background: #f6f6f6;
}
.driver-pay .pay-chart .row {
  border: 1px solid #ddd;
  border-bottom: 0;
}
.driver-pay .pay-chart .row:nth-child(2) {
  border-bottom: 1px solid #ddd;
}
.driver-pay .pay-chart .row:nth-child(2) .col-1-5 {
  padding: 30px 15px;
  font-size: 16px;
  font-weight: 700;
}

.driver-bonuses {
  background: white;
  border-bottom: 1px solid #ddd;
}
.driver-bonuses h4 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 30px;
  font-weight: 700;
}
.driver-bonuses h5 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
  font-weight: 700;
}
.driver-bonuses p {
  font-size: 18px;
  line-height: 28px;
}
.driver-bonuses .row {
  margin-bottom: 40px;
}
.driver-bonuses .row:last-child {
  margin-bottom: 0;
}
.driver-bonuses ul {
  text-align: left;
}
.driver-bonuses ul li {
  list-style: disc;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.driver-bonuses ul li:last-child {
  padding-bottom: 0;
}

/*# sourceMappingURL=main.css.map */
